__pycache__
*.xml
doc/build/*
*.iml
/.python-version
*.png
events*
/*.egg-info/*
*.egg-info
/src/pytorch_tutorial.egg-info/
*.log
/build/
*/build/*
*.DS_Store
build/
*.lock.*
.idea/

/.tox/log/.lock
/.tox/dist/pytorch-tutorial-0.0.0.zip
*/.zip
